html
    head
        title= title
    body
        h1= name
        - var img = picture
        img(src=img)
        h3 Timeline
        ol
            each val, index in tweets
                li= val.text
        a(href="https://twitter.com/dksbhrqz") Go to account