html
    head
        title= title
    body
        h1= name
        - var img = picture
        img(src=img)
        ul
            each val, index in ['zero', 'one', 'two']
                li= index + ': ' + val